<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
Hola, me llamo Miquel Mariano Ramis y soy Consultor TI en Ncora
</br>
A parte de la tecnología, me encanta el deporte al aire libre. Aunque viva en una isla como Mallorca, soy mas de montaña que de playa, así que es fácil encontrarme por el monte haciendo MTB, corriendo o simplemente practicando algo de senderismo.
</br>
En lo profesional, cuento con mas de 10 años de experiencia en el ámbito de sistemas y en los últimos años he centrado mi trayectoria profesional especializándome en todo lo relacionado con la virtualización y automaticación del datacenter:
</br>
<ul>
<li>Diseño, implementación y administración de grantes entornos VMware vSphere</li>
<li>Instalación, configuración y administración de almacenamiento Hitachi HUS, VSP Gx00, EMC VNXe, IBM Storwize, QNAP</li>
<li>Instalación, configuración y administración de SAN con Brocade FC Switches</li>
<li>Amplios conocimientos en protocolos de almacenamiento: iSCSI, FC, NFS, SMB/CIFS</li>
<li>Instalación, configuración y administración de servidores Dell PowerEdge, HP Proliant, Hitachi Compute Blade</li>
<li>Disaster Recovery, Veeam Backup & Replication y continuidad de negocio</li>
<li>Análisis de carga de trabajo, performance y dimensionamiento de máquinas virtuales</li>
<li>Automatización con Ansible, scripting con PowerCLI, bash, …</li>
<li>Monitorización con PRTG Network Monitor</li>
</ul>
He tenido la suerte de poder sacarme algunas certificaciones de VMWare y en estos últimos 3 años, VMWare me ha nombrado #vExpert
</br>
<img src="https://miquelmariano.github.io/assets/images/logo_vexpert2018.png" alt="vExpert">
</br>
<img src="https://miquelmariano.github.io/assets/images/logo_vcap6.jpg" alt="vExpert">
</br>
También poseo algunas de las certificaciones profesionales de Hitachi Vantara.
</br>
Podreis consultar mas información en mi perfil completo de <a href="https://www.linkedin.com/in/miquelmariano/">Linkedin</a>
</div>