<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
Hola, me llamo Miquel Mariano Ramis y soy Consultor TI en Ncora
</br>
A parte de la tecnología, me encanta el deporte al aire libre. Aunque viva en una isla como Mallorca, soy mas de montaña que de playa, así que es fácil encontrarme por el monte haciendo MTB, corriendo o simplemente practicando algo de senderismo.
</br>
En lo profesional, cuento con mas de 10 años de experiencia en el ámbito de sistemas y en los últimos años he centrado mi trayectoria profesional especializándome en todo lo relacionado con la virtualización y automaticación del datacenter:
</br>
Diseño, implementación y administración de grantes entornos VMware vSphere
Instalación, configuración y administración de almacenamiento Hitachi HUS, VSP Gx00, EMC VNXe, IBM Storwize, QNAP
Instalación, configuración y administración de SAN con Brocade FC Switches
Amplios conocimientos en protocolos de almacenamiento: iSCSI, FC, NFS, SMB/CIFS
Instalación, configuración y administración de servidores Dell PowerEdge, HP Proliant, Hitachi Compute Blade
Disaster Recovery, Veeam Backup & Replication y continuidad de negocio
Análisis de carga de trabajo, performance y dimensionamiento de máquinas virtuales
Automatización con Ansible, scripting con PowerCLI, bash, …
Monitorización con PRTG Network Monitor
He tenido la suerte de poder sacarme algunas certificaciones de VMWare y en estos últimos 3 años, VMWare me ha nombrado #vExpert
</br>
También poseo algunas de las certificaciones profesionales de Hitachi Vantara.
</br>
Podreis consultar mas información en mi perfil completo de Linkedin
</div>